*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.header{
    width: 80%;
    height: 59px;
    margin: 0 auto;
    img{
        width: 303px;
    }
    span{
        margin-top: 44px;
        font-size: 12px;
        color: #999999;
        float: right;

    }
    a{
        color: #336699;
    }
}
.zhuye{
    padding-top: 30px;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background: url(../img/back1.png);
    font-size: 14px;
    border: 1px solid #dddddd;
    line-height: 30px;
    background-color: rgba($color: white, $alpha: 0.5);
    span{
        font-size: 12px;
        color: #636363;
        margin-left: 89px;
    }
    input{
        height: 27px;
        width: 268px;
        outline: none;
    }
    input:last{
        height: normal;
    }
    
}
.biao{
    float: left;
}
.biao1,.biao2{
    @extend .biao;
    margin-left: 42px;
} 
.biao3{
    @extend .biao;
    margin-left: 14px;
}
.biao5,.biao6{
    @extend .biao;
    margin-left: 56px;
}
.biao7{
    @extend .biao;
    margin-left: 29px;

}
.login{
    width: 280px;
    height: 40px;
    background-color: #e43f8e;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-left: 84px;
    padding-top: 45px;
}
.check{
    width: 12px;
    height: 12px;
    margin-left: 84px;
}

